*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* sheraed style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
    /* main style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

.logo h2{
    font-size: 45px;
}
.color-letter{
    color: #FD6E0A;
    font-weight: 900;
}


nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: #474747;
}
.btn{
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}