*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* sheraed style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
    /* main style */

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;

}

.logo h2{
    font-size: 45px;
}
.color-letter{
    color: #FD6E0A;
    font-weight: 900;
}


nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: #474747;
}
.btn{
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

#banner{
    /* border: 1px solid #e20b0b; */
    margin: 46px 38px 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.bio{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
.banner-image{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}
 
.about-container{
    background-color: #FFF8F3;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 131px 157px;
    text-align: center;
    border: none;
    border-radius: 10px;
    
}
.section-heading h2{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.info-card h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

#skills{
    padding-top: 130px;
}
.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-box{
    display: flex;
    gap: 24px;
}
.skill-card{
    padding: 30px;
    /* border: 2px solid red; */
    box-shadow: 0 6px 50px 0 #00000047;
    max-width: 267px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 41px;
    color: #757575;
}